streamlit
pandas
langchain-chroma
langchain-huggingface
langchain-groq
langchain-google-genai
langchain-openai
langchain-mistralai
langchain-anthropic
langchain-core
langchain-community
sentence-transformers
playwright
python-pptx
python-docx
openpyxl
pypdf
einops
accelerate
